
<div *ngIf="dataLoadedBrand==false" class="spinner-border text-info" style="width: 4rem; height: 4rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>



  <ul  *ngIf="dataLoadedBrand == true">
    <li [class]="getAllColorClass()" routerLink="/cars">Tüm araçlar    
    </li>

    <li (click)="setCurrentColor(brand)" routerLink="/cars/brand/{{brand.id}}" *ngFor="let brand of brands" [class]="getCurrentColorClass(brand)">
        {{brand.brandName}}
  </ul>

  <h3 *ngIf="currentBrand" class="text-white">{{currentBrand.brandName}}</h3>