
<div class="list-group text-center">
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
      Brand-Categories
    </button>
    <button type="button" class="list-group-item list-group-item-action">A1</button>
    <button type="button" class="list-group-item list-group-item-action">A2</button>
    <button type="button" class="list-group-item list-group-item-action">A3</button>
    <button type="button" class="list-group-item list-group-item-action">A4</button>
    <button type="button" class="list-group-item list-group-item-action">A5</button>
    <button type="button" class="list-group-item list-group-item-action">B1</button>
    <button type="button" class="list-group-item list-group-item-action">B2</button>
    <button type="button" class="list-group-item list-group-item-action">B3</button>
    <button type="button" class="list-group-item list-group-item-action">B4</button>
    <button type="button" class="list-group-item list-group-item-action"></button>
</div>

<div class="list-group text-center ">
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
      Color-Categories
    </button>
    <button type="button" class="list-group-item list-group-item-action">Red</button>
    <button type="button" class="list-group-item list-group-item-action">Yellow</button>
    <button type="button" class="list-group-item list-group-item-action">Blue</button>
    <button type="button" class="list-group-item list-group-item-action">Green</button>
    <button type="button" class="list-group-item list-group-item-action">Gray</button>
</div>